In [2]:
import pandas as pd
from sklearn import datasets

In [3]:
diabetes=datasets.load_diabetes()
df=pd.DataFrame(diabetes.data)
df.head()
diabetes.feature_names
df.columns=diabetes.feature_names
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [29]:
df1=df.copy()
df.columns
# df.values[:,0]

for i in range(len(df.columns)):
#     arr=[]
    for j in range(i,len(df.columns)):
        for k iin range(j,len(df.columns)):
            df1[df.columns[i]+"_"+df.columns[j]+""]=df.values[:,i]*df.values[:,j]
df1.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,...,s3_s3,s3_s4,s3_s5,s3_s6,s4_s4,s4_s5,s4_s6,s5_s5,s5_s6,s6_s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,...,0.001884,0.000113,-0.000864,0.000766,0.000007,-0.000052,0.000046,0.000396,-0.000351,0.000311
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,...,0.005537,-0.002939,-0.005085,-0.006861,0.001560,0.002699,0.003641,0.004669,0.006300,0.008502
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,...,0.001047,0.000084,-0.000093,0.000839,0.000007,-0.000007,0.000067,0.000008,-0.000074,0.000672
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,...,0.001299,-0.001236,-0.000818,0.000337,0.001177,0.000779,-0.000321,0.000515,-0.000212,0.000088
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,...,0.000066,-0.000021,-0.000260,-0.000380,0.000007,0.000083,0.000121,0.001023,0.001492,0.002175

In [45]:
from sklearn.linear_model import LinearRegression

from sklearn import cross_validation as cv

X_train, X_test, Y_train, Y_test = cv.train_test_split(df1, diabetes.target, test_size=0.5)

In [52]:
clf=LinearRegression()
clf.fit(X_train,Y_train)
clf.predict(X_test)
1

1

In [47]:
clf.score(X_train,Y_train)

0.63925862373368003

In [48]:
clf.score(X_test,Y_test)

0.26672539410497864

In [51]:
(X_test).shape

(221, 65)